# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\david\HTL\OneDrive - HTBLA Steyr\HTL_Home\SEW\3AHITN\Einfuehrung_GIT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
